.imagem-carrosel1{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.imagem-carrosel2{
    object-fit: cover;
    height: 400px;;
}
.font-titulo{
	font-family: 'Pacifico', cursive;
}
.cor-especial{
	color: darkred!important;
}

.botao-cor-especial{
	background: darkred;
	color: white;
}

.borda-cor-especial{
	border-color: darkred;
	
}

.card-posicao-imagem{
	object-fit: cover;
    height: 200px;
}

.card-largura{
	max-width: 18rem;
}

.imagem-criadoras{
	object-fit: cover;
    object-position: 0 80%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    

}

.borda-imagem{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 210px;
    width: 210px;
	border-radius: 50%;
	border: solid 1px;
    border-color: red;
}


